---
layout: default
title: Paradise Index
description: Welcome to Paradise! The remnants of a dead galaxy torn apart by an long-past intergalactic conflict that bathed it's planets in nuclear winter and biological horror. Thousands of warring factions now fight to win themselves the ultimate prize of a lucreship, a hulking relic of old that was used to bring ruin to entire star-systems, now safe-havens for the savvy survivor or terrifying war-machines for the deranged dictator.
customCss: /assets/css/index.css
---

{% for collection in site.collections %} {% if collection.docs.size > 0 %}
<h2 class="capitalise">{{ collection.label }}</h2>
<ul>
  {% for item in site[collection.label] %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
{% endif %} {% endfor %}
